<h1>Cats!</h1>

<h2>Burgers on your plate</h2>

<ul>
  {{#each cats}}
    {{#unless true}}
      {{> burgers/burger-DEVOUREDblock devoured=false}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers you have Eaten:</h2>

<ul>
  {{#each cats}}
    {{#if true}}
      {{> burgers/burger-DEVOUREDblock}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burger">Burger Name:</label>
    <input type="text" id="burger" name="name">
  </div>

  <button type="submit">Add Cat</button>
</form>
